*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #000;
    color: #fff;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    margin-top: 25px;
}

nav > div{
    margin-bottom: 2%;
}

.logo{
    width: 150px;
    cursor: pointer;
}

nav button{
    border: 0;
    outline: 0;
    background: #d91f27;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    padding : 6px 15px;
    margin-left: 10px;
    cursor: pointer;
}

.lang{
    background: transparent;
    border: 0.5px solid #fff;
    padding: 6px 30px;
}

.lang img{
    width: 10px;
    margin-left: 5px;
    margin-bottom: 3px;
}

.header-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 80vh;
}

.header-cont > h1{
    font-size: 45px;
    font-weight: 900;
}

.header-cont > h3{
    font-size: 30px;
}

.header-cont > p {
    font-size: 25px;
}

.header-cont > form{
    border: none;
}

.email{
    display: flex;
    justify-content: space-between;
}

.emails{
    background: transparent;
    backdrop-filter: blur(5px);
    border: 1px solid #fff;
    border-radius: 5px;
    height: 3rem;
    width: 20rem;
    margin-right: 3rem;
    color: #fff;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 10px;
}

.sub{
    background-color: #d91f27;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 0.25rem 1rem;
    border-radius: 8px;
    border: none;
    width: 15rem;
    cursor: pointer;
}

.sub > i {
    padding-left: 5px;
}


/* Features*/

.features{
    border-top: 5px solid grey;
    border-bottom: 5px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.features img {
    width: 30rem;
}

.features > .text > h2{
    font-weight: bold;
    font-size: 3rem;
}

.features > .text > p{
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: lighter;
}

.faq{
    padding: 2rem 1rem;
    text-align: center;
    font-size: 18px;
    margin: 2rem 0rem;
}

.faq h2{
    font-weight: 500;
    font-size: 40px;
}

.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;   
}

.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}

input[type="radio"]{
    display: none;
}

.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}

.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}

.bottom{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-around;
}

.emails2{
    background: transparent;
    backdrop-filter: blur(5px);
    border: 1px solid #fff;
    border-radius: 5px;
    height: 3rem;
    width: 20rem;
    margin-right: 3rem;
    color: #fff;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 10px;
}

.sub2{
    background-color: #d91f27;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 0.25rem 1rem;
    border-radius: 8px;
    height: 3rem;
    border: none;
    width: 15rem;
    cursor: pointer;
}

.faq hr{
    position: relative;
    transform: translateY(2rem);
}

.faq footer{
    text-align: right;
    position: relative;
    transform: translateY(3rem);
    margin-right: 2rem;
}

@media (max-width: 600px){
    .email{
        display: flex;
        flex-direction: column;
    }

    .features{
        display: flex;
        flex-direction: column;
    }
}